footer.footer
    .container
        .footer__copyright 
            | © 2022 ISC license
        .footer__developer 
            | Andrey Karandin<br>
            a(href="mailto:spirit.tmn@ya.ru") spirit.tmn@ya.ru
        