.popup(id="popup_login")
    .popup__body
        .popup__content
            a.popup__close(href="#" class="popup-close") Close
            h2.popup__title Popup login
            p.popup__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, eligendi totam! Atque architecto saepe cum voluptatem illo veniam, iusto aliquid, voluptatum eos dolorum recusandae delectus aliquam illum ipsum obcaecati dignissimos.

.popup(id="popup_info")
    .popup__body
        .popup__content
            a.popup__close(href="#" class="popup-close") Close
            h2.popup__title Popup info
            p.popup__text Lorem, ipsum dolor <a href="#popup_login" class="popup-link">sit amet</a> consectetur adipisicing elit. Laudantium, eligendi totam! Atque architecto saepe cum voluptatem illo veniam, iusto aliquid, voluptatum eos dolorum recusandae delectus aliquam illum ipsum obcaecati dignissimos.